/* Rowan Cavanagh */
/* Measure */
/* Onboarding page styles for Chinese */

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑体", STHeiti, "华文黑体", SimSun, "宋体", sans-serif;
}

article {
  font-family: Georgia, "Times New Roman", STFangSong, "华文仿宋", STSong, "华文宋体", FangSong, "仿宋", serif;
  line-height: 1.8em;
}