/* Rowan Cavanagh */
/* Measure for Chinese */

#measure-counter-extension {
  font-family: 'Helvetica Neue', Helvetica, Arial, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑体", STHeiti, "华文黑体", SimSun, "宋体", sans-serif;
  min-width: 80px;
  margin-top: 2px;
}

.measure-counter-extension__on {
  margin-top: -6px !important;
}

#measure-counter-extension__title {
  font-size: 14px;
  font-weight: 500;
}